<html lang="fr">
  <%- include ("./partials/header.ejs") %>

  <body>
    <%- include ("./partials/nav.ejs") %>

    <p>Présentation de Dawa</p>
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
